/* Start landing */
.landing {
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
}
.landing .container {
  display: flex;
}
.landing .container .left {
  display: flex;
  flex-direction: column;
}
.landing .container .right {
  display: none;
}
/* .landing .container .right img {
  max-width: 100%;
} */
.landing .greetings {
  color: #00eaff;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 50px;
  letter-spacing: 1px;
}
.landing .myname {
  margin: 50px;
  font-size: 2.5rem;
  color: #dae4fb;
  letter-spacing: 1.2px;
}
@media (max-width: 575px) {
  .landing .myname {
    margin-left: 0;
  }
}
.landing .myjob {
  color: #fff;
  margin: 0 50px;
  letter-spacing: 2px;
  line-height: 2;
  font-size: 1.3rem;
}
@media (max-width: 575px) {
  .landing .myjob {
    margin-left: 0;
    line-height: 1;
    margin-bottom: 15px;
  }
}
.landing .myjob .code {
  letter-spacing: 0;
  font-weight: bold;
  color: #00eaff;
}
.landing .jobdesc {
  color: white;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 1.2rem;
  font-family: "Nunito";
}
@media (max-width: 575px) {
  .landing .jobdesc {
    margin-left: 0;
  }
}
/* End landing */
